body, html{
	width:100%;
	font-family: 'Poppins', sans-serif ; 
	font-size: 14px ;
	margin: 0;
	padding: 0;
}

.content {
	width: 1000px;
}
.wrap-flex{
	display: flex;
	justify-content: center;
}
section, header{
	padding: 30px;
	display: flex;
}
.header-menu div {
	display: flex;
	justify-content: flex-end;
}
header {
    justify-content: space-between;
	align-items: center;
}
.Opis {
	flex-direction: column;
}
.Opis p {
	padding-left: 30px;
}
.Text {
	display: flex;
}
footer {
	display: flex;
	justify-content: center;
}

.contact-content {
	display: flex;
}

.w-100 {
	width: 100% ;
}

h1  {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

iframe {
	width: 400px;
	height: 200px;
}

.section-left, .section-right {
	flex: 1;
}

.contact-content input, .contact-content textarea {
	width: 60%;
}

.title {
	margin: 10px 0 20px 0;
}


nav a {
	padding-left: 35px;
	text-decoration: none;
}

footer p {
	margin: 30px 0 ;
}

#contact, #details {
	background: #f5d5ba;
}

#contact a {
	text-decoration:none;
    color: #ff7070;
}

#contact a:hover {color: #f72828;}

#btn {
    width: 150px;
    background: #ff7070;
    color: #fff;
    border:0;
    padding: 10px 10px;
	border-radius: 3px;
}
#btn:hover {
    cursor:pointer;
    background: #f72828;
}


/* section:nth-child(even) { */
	/* background-color: red;	 */
/* } */